<div class="container marketing">
    <br>
    <div class="row featurette">
        <h1>О нас</h1>
    </div>
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Доставка по Москве. <span class="text-muted">Быстро и дёшевою</span></h2>
            <p class="lead">Стоимость доставки по Москве ...</p>
        </div>
        
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12 order-md-2">
            <h2 class="featurette-heading">Доставка по Московской области. <span class="text-muted">Доставим в любую точку области.</span></h2>
            <p class="lead">Стоимость доставки по Московской области...</p>
        </div>
        
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading">Доставка по России. <span class="text-muted">Доставим в любой уголок Росии.</span></h2>
            <p class="lead">Стомость доставки по России...</p>
        </div>
        
    </div>
</div>
