<div class="container marketing">
    <br>
    <div class="row featurette">
        <h1>Контакты</h1>
    </div>

    <div class="row featurette">
        <ul>
            <li>Телефон: +79998887766</li>
            <li>Почта: myemail@mail.ru</li>
            <li>Whats app: +79998887766</li>
        </ul>
    </div>
</div>